/* MarkdownEditor.module.css */
.editorContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.textarea {
  width: 48%;
  height: 400px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.markdown {
  width: 48%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #f9f9f9;
  overflow-wrap: break-word;
}
